<suite name="AllureTests">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="All Tests">
        <classes>
            <class name="testAdapters.TestAdapters"/>
            <class name="testAdapters.TestValidations"/>
        </classes>
    </test>
</suite>
